<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- Importação do Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"> <!-- Icones do FontAwesome -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> <!-- Icones do Bootstrap -->
    <link rel="stylesheet" th:href="@{/pagina-inicial/pagina-inicial.css}">
    <title>Página Inicial Funcionários</title>
</head>
<body>
    <h1>PÁGINA INICIAL ADMINISTRADOR</h1>
    <div class="grid-container">
        <div class="grid-item">
			<a th:href="@{/fornecedor}">
		        <button>FORNECEDORES</button>
		    </a>
		</div>
        <div class="grid-item">
			<a th:href="@{/producao}">
		        <button>LINHA DE PRODUÇÃO</button>
		    </a>
			
		</div>
        <div class="grid-item">
			<a th:href="@{/produto}">
		        <button>PRODUTOS</button>
		    </a>
			
		</div>
        <div class="grid-item">CRONOGRAMAS
			
			
		</div>
        <div class="grid-item">COMPONENTES
			<a th:href="@{/componente}">
		        <button>COMPONENTES</button>
		    </a>
			
		</div>
        <div class="grid-item">EQUIPES
			
			
		</div>
        <div class="grid-item">VENDAS
			
			
		</div>
        <div class="grid-item">FUNCIONÁRIOS
			
			
		</div>
        <div class="grid-item">INVENTÁRIO
			
			
		</div>
        <div class="grid-item">RASTREIO
			
			
		</div>
        <div class="grid-item">USUÁRIOS
			<a th:href="@{/usuario}">
		        <button>USUÁRIOS</button>
		    </a>
		</div>
        <div class="grid-item">INSPEÇÃO
			
			
		</div>
    </div>
</body>
<script src="@{/pagina-inicial/pagina-inicial.js}"></script>
</html>